@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  max-width: 100vw; /* Evita que qualquer elemento ultrapasse a largura da tela */
  box-sizing: border-box; /* Garante que padding e border não aumentam o tamanho do elemento */
}


html, body {
  overflow-x: hidden; /* Impede o scroll horizontal */
  width: 100vw; /* Garante que o conteúdo não ultrapassa a largura da tela */
}


/* 🔥 Esconder completamente o cursor padrão */
* {
  cursor: none !important;
}

/* 🔥 Cursor Customizado */
.custom-cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 300%;
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
  transition: transform linear;
}

/* 🔥 Cursor ao passar sobre elementos interativos */
.custom-cursor.hover {
  background-color: #38a169; /* Verde ao passar sobre elementos clicáveis */
}
